{% extends "base1.html" %}
{% block title %}组织活动{% endblock %}
{% block content %}
   


   <div class="container">
      <div class="row">
         <div class="span3" id="one">
         <p><a href=""></a></p>
         <p><a href=""></a></p>
         <a href=""></a>
         <a href=""></a>
         <a href=""></a>
         
         </div>
         <div class="span9" id="two">
         <form method="post" action="">
         活动标题：<input type="text"><br/>
         活动说明：<textarea rows="5"></textarea><br/>
         活动类别：<select class="span2">
                   <option>a</option>
                   <option>b</option>
                   <option>c</option>
                   <option>d</option>
                   <option>e</option>
                 </select><br/>
         活动费用：<br/>
         活动地点：<br/>
         活动标签：&nbsp;&nbsp;<a>+添加新标签<i class="icon-tag"></i></a>
         </form>
                
         
         
         </div>
      </div>
   </div>

{% endblock %}
