{% extends "base1.html" %}
{% block title %}个人主页{% endblock %}
    {% block content %}
   
   <div class="container">
      <div class="row">
         <div class="span2" >
            <div style="margin-left:15px;">
               <div style="background-image:url(/statics/image/bghdimg.jpg);width:100px;height:100px;">
               <a href="/user/home/{{user.id}}/" ><img src="/static/{{uf.headimg}}" class="img-polaroid"></a>
               </div>
               <a href="">{{user.username}}</a>                       
            </div>            
             <hr/>
         <p><a href="">我的说说</a></p>
         <p><a href="">我参加的活动</a></p>
         <p><a href="">我关注的好友</a></p>         
         </div>
         
         
         
         <div class="span7">
           <form method="post" action="">
              <textarea rows="3"></textarea>
              <input type="submit" value="发表" class="btn">
           
           </form>
         </div>
      </div>
   </div>
   {% endblock %}
