<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>    
    <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.css" /> 	
    
</head>
<body>

	<div id="heada" class="container">
		<div class="row">
		     <div id="log" class="span3"><img src="/statics/image/logt2.jpg" id="imaglog"></div>
	        <div id="imag" class="span6"><img src="/statics/image/x-3.jpg" id="imaghd"></div>
        	<div class="span3">
	    <form id="dlform" class="form-horizontal">
        	<input type="text" id="inputEmail" placeholder="账号"><br/>
            <input type="password" id="inputPassword" placeholder="密码"> <br/>             
	        <button type="submit" class="btn"> 登陆</button>
	       	<div id="zcindex">&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;
                <a href="">注册</a>
            </div>
	    </form>
	    </div>
	    </div>	         
    </div>

    <div id="headb" class="container">   <div id="image"></div>
	         <div id="mulu">
                <div id="sy"><span><a href="xx.html">首页</a>&nbsp;&nbsp;</span></div>
                <DIV id="hd"><span ><a href="#">活动</a>&nbsp;&nbsp;</span></DIV>
                <DIV id="hw"><span ><a href="#">好玩</a>&nbsp;&nbsp;</span></DIV>
                <DIV id="mw"><span ><a href="#">美味</a>&nbsp;&nbsp;</span></DIV>
                <DIV id="gg"><span ><a href="#">逛逛</a>&nbsp;&nbsp;</span></DIV>  
            </div>         
            <div id="ss">
                    
                <form class="form-search">
                    <input type="text" class="input-medium search-query" placeholder="好友/活动/好玩/美味">
                    <button type="submit" class="btn">搜索</button>
                </form>
                    
            </div>                
            
     </div>


    <div id="huodong" class="container">
    	<div id="hdhead">
    	<span>活动</span>
    	<a>默认排序</a> <a>人气</a><a>最新</a><a>信用度</a><a>费用</a>     	
        </div>
    	<hr/>
    	<div id="disphd">
	        <div class="dis">
    	        	<div><img src="/statics/image/a.jpg" class="hdpic"></div>
                    <div class="title"><a href="">5.1北京一日游</a></div>
                    <div class="xydu">******</div>
                    <div class="content">本人想在5.1长假找驴友陪同去</div>
                    <div class="gzcj">
                        <div class="gz"><input type="button" value="关注"></div>
                        <div class="cj"><input type="button" value="参加"></div>
                    </div>
                    <div class="bq">
                        <div class="bq1">&nbsp;&nbsp;<a href="" class="bqs">标签1</a>&nbsp;&nbsp;</div>
                        <div class="bq2"><a href="" class="bqs">标签244</a>&nbsp;&nbsp;</div>
                        <div class="bq3"><a href="" class="bqs">标签3</a>&nbsp;&nbsp;</div>
                        <div class="bq4"><a href="" class="bqs">标签4</a></div>
                    </div>
                    <a href="" class="xq">详情>>></a>
    	    </div>
    	    <div class="dis">
    	        	<img src="/statics/image/b.jpg" class="hdpic">
    	    </div >
                <div class="dis">
                	<img src="/statics/image/c.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="/statics/image/d.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/e.jpg" class="hdpic">
                </div>
                <div class="dis">
                    <img src="image/f.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/g.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/h.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/i.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/j.jpg" class="hdpic">
                </div>
                <div class="dis" class="hdpic">
                </div>
                <div class="dis" class="hdpic">
                </div>	
        </div>
    </div>







    <div id="haowan" class="container">
    	<div id="hwhead"> 
    		<span>好玩</span>


    	</div><br/>
        <hr/>
        <div id="dishw">
        </div>
        

    </div>




</body>
</html>
