{% extends "base_index.html" %}
{% block title %}首页{% endblock %}
{% block content %}
   
   
   
    <div class="container">
    	<div id="hdhead" class="row">
    	  <div class="span1" style="height:10px;">
    	     <h3 >活动</h3>
    	  </div>
    	  <div class="span8" style="margin-top:15px;">
    	     <a>默认排序</a> <a>人气</a><a>最新</a><a>信用度</a><a>费用</a> 
    	  </div>    	
      </div>
    	<hr/>
    	<div class="row">
	        <div  class="span4">
	            <div class="row">
    	        	     <div class="span2"><img src="/statics/image/a.jpg" class="img-polaroid">
    	        	          <div class="row">    	        	        
                            <div class="span1"><input type="button" value="关注" class="btn"></div>
                            <div class="span1"><input type="button" value="参加" class="btn" class="span1"></div>
                         </div>                        
    	        	     </div>
    	        	     <div class="span2">
    	        	        <div class="row">
                       <div class="span1"><a href="">5.1北京一日游</a></div>
                       <div class="span1">******</div>
                       </div>                              
                       <div class="content">本人想在5.1长假找驴友陪同去</div>
                    </div>
                 </div>    
                    <div class="row">
                        <div class="span1"><a href="" class="bqs">标签1</a></div>
                        <div class="span1"><a href="" class="bqs">标签244</a></div>
                        <div class="span1"><a href="" class="bqs">标签3</a></div>                        
                        <div class="span1"><a href="" class="xq">详情>>></a></div>
                    </div>
                    
    	    </div>
    	    <div  class="span4">
    	        	<img src="/statics/image/b.jpg"  class="img-rounded">
    	    </div>
          <div  class="span4">
                	<img src="/statics/image/c.jpg" class="img-circle">
          </div>
     </div>
     <div class="row">
          <div  class="span4">
               <img src="/statics/image/d.jpg" class="hdpic">
          </div>
          <div class="span4">
               <img src="image/e.jpg" class="img-rounded">
          </div>
          <div class="span4">
               <img src="image/f.jpg" class="hdpic">
          </div>
      </div>
      <div class="row">    
                <div class="span4">
                	<img src="image/g.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/h.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/i.jpg" class="hdpic">
                </div>
                <div class="dis">
                	<img src="image/j.jpg" class="hdpic">
                </div>
                <div class="dis" class="hdpic">
                </div>
                <div class="dis" class="hdpic">
                </div>	
       
    </div>







    <div class="container">
    	<div > 
    		好玩
    	</div>
       <hr/>
        <div >
        </div>       
    </div>


  <div class="container">
    <div > 
    		美味
    </div>
       <hr/>
    <div >
    </div>  

  </div>
  
  
    
  <div class="container">
       <div>
    		逛逛
       </div>
       <hr/>
    <div >
    </div>  
  
  </div>  
{%endblock%} 
  
  
  
 