<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>注册</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/register.css" /> 	
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <style type="text/css">
    #log,#imag,#dlform{
        float: left;
    }
    #dlform{
        position: relative;
        top: 20px;
        left: 30px;
        margin: 0px 0px 0px;
    }
    input,button{
        margin-top:10px;
    }
    #ss{
        position: relative;
        left: 350px;
        bottom: 5px;
        margin: 0px 0px 0px;
    }
    #zcindex{
        position: relative;
        top: -20px;
        left: 60px;
    }
    input{
        width: 150px;
        
    }
    </style> 	
</head>
<body>

	<div id="heada">
		<div id="log"><img src="image/logt2.jpg" id="imaglog"></div>
	    <div id="imag"><img src="image/x-3.jpg" id="imaghd"></div>
        
	    <form id="dlform" class="form-horizontal">
        	<input type="text" id="inputEmail" placeholder="账号"><br/>
            <input type="password" id="inputPassword" placeholder="密码"> <br/>             
	        <button type="submit" class="btn"> 登陆</button>
	       	<div id="zcindex">&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;
                <a href="">注册</a>
            </div>
	    </form>	         
    </div>

    <div id="headb">   <div id="image"></div>
	        <div id="mulu">
                <div id="sy"><span><a href="/index/">首页</a>&nbsp;&nbsp;</span></div>
                <DIV id="hd"><span ><a href="#">活动</a>&nbsp;&nbsp;</span></DIV>
                <DIV id="hw"><span ><a href="#">好玩</a>&nbsp;&nbsp;</span></DIV>
                <DIV id="mw"><span ><a href="#">美味</a>&nbsp;&nbsp;</span></DIV>
                <DIV id="gg"><span ><a href="#">逛逛</a>&nbsp;&nbsp;</span></DIV>  
            </div>               
            <div id="ss">
                    
                <form class="form-search">
                    <input type="text" class="input-medium search-query" placeholder="好友/活动/好玩/美味">
                    <button type="submit" class="btn">搜索</button>
                </form>
                    
            </div>                
            
     </div>
    <div id="zhuce">
    	<div id="zchead">
    	<span>注册</span>
        </div><br/>
        <hr/>  
        <div id="regform">
            <form method="post" >
                <fieldset>
                    <legend>必填信息</legend>            	            	
            	邮箱：<input type="text" class="zc" placeholder="您常用邮箱"><br/>
            	昵称：<input type="text" class="zc" placeholder="昵称"><br/>
            	密码：<input type="password" name="password" class="zc" placeholder="可以是字母、下划线和数字"><br/>
            	
                <input type="submit" value="注册" class="zcb btn">
                </fieldset>                 
            </form>
        </div>  
    </div>



</body>
</html>